body{
  margin:0px;
  text-align: left;   
}


.top{
  margin: 0px;
  height: 80px;
  background-color:  rgba(185, 181, 255, 0.16);
  border-bottom: 3px solid;
  border-color: #5D528F;
}

.top-icon{
  
  width: 80px;
  height: 70px;
  margin-left: 24px;
  border-color: #5D528F;
  float: left;
}

p{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 75px;

color: #5D528F;
width: 227.74px;
height: 76px;
margin-left: 113.87px;
margin-top: 25px;
}
.main-body {
  padding: 15px;
}
.card {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
}


